label{
    font-size: 20px;
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: inline-start;
    
}
body{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(image/clay-banks-z_DkoUqgx6M-unsplash.jpg);
}

table
{
    background-color: transparent;
    height: auto;
    width: auto;
}
input[type=text]{
    border: 2px solid black;
    border-radius: 6px;
    margin: auto;
}
input[type=submit],input[type=button]{
    font-size: 20px;
    border-radius: 7px;
    color: whitesmoke;
    background-color: black;
    margin: auto;
}
input[type=reset]{
    font-size: 20px;
    border-radius: 7px;
    color: whitesmoke;
    background-color: black;
    margin: auto;

}
form{
    top: 40%;
    left: 40%;
    position: absolute;
}
